################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/api-backend/bin/Debug/net6.0/api-backend.deps.json
/api-backend/bin/Debug/net6.0/api-backend.dll
/api-backend/bin/Debug/net6.0/api-backend.exe
/api-backend/bin/Debug/net6.0/api-backend.pdb
/api-backend/bin/Debug/net6.0/api-backend.runtimeconfig.json
/api-backend/obj/Debug/net6.0/ref/api-backend.dll
/api-backend/obj/Debug/net6.0/refint/api-backend.dll
/api-backend/obj/Debug/net6.0/staticwebassets/msbuild.build.api-backend.props
/api-backend/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.api-backend.props
/api-backend/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.api-backend.props
/api-backend/obj/Debug/net6.0/api-backend.csproj.BuildWithSkipAnalyzers
/api-backend/obj/Debug/net6.0/staticwebassets.build.json
/api-backend/obj/Debug/net6.0/apphost.exe
/api-backend/obj/Debug/net6.0/api-backend.pdb
/api-backend/obj/Debug/net6.0/api-backend.MvcApplicationPartsAssemblyInfo.cs
/api-backend/obj/Debug/net6.0/api-backend.MvcApplicationPartsAssemblyInfo.cache
/api-backend/obj/Debug/net6.0/api-backend.genruntimeconfig.cache
/api-backend/obj/Debug/net6.0/api-backend.dll
/api-backend/obj/Debug/net6.0/api-backend.csproj.FileListAbsolute.txt
/api-backend/obj/Debug/net6.0/api-backend.csproj.CoreCompileInputs.cache
/webproject/.vs/webproject/FileContentIndex/d7c2c53b-c775-4a99-9d14-164e3b781db3.vsidx
/webproject/.vs/webproject/FileContentIndex/11ccefea-cbce-499e-b5e2-8cc2e0d5c560.vsidx
/webproject/.vs/webproject/v17/.suo
/webproject/obj/Debug/_IsIncrementalBuild
/webproject/obj/Debug/react-frontend.esproj.SuggestedBindingRedirects.cache
/webproject/obj/Debug/react-frontend.esproj.FileListAbsolute.txt
/webproject/obj/Debug/react-frontend.esproj.CoreCompileInputs.cache
/webproject/.vs/webproject/DesignTimeBuild/.dtbcache.v2
